<div class="container">
  <div class="main-surface">
    <div class="section-header">
      <div class="title-wrapper">
        <div class="icon-box">
          <i class="pi pi-briefcase"></i>
        </div>

        <div>
          <h1 class="main-title">Gestão de Diretores</h1>
          <p class="main-subtitle">
            Visualize e gerencie o cadastro de todos os diretores da instituição.
          </p>
        </div>
      </div>

      <div class="header-actions">
        <button type="button" routerLink="/diretores/cadastrar" class="btn btn-salvar">
          <i class="pi pi-plus-circle"></i>
          Novo Diretor
        </button>
      </div>
    </div>

    <hr class="divider">

    <p-table
      [value]="diretores"
      [paginator]="true"
      [rows]="tamanhoPagina"
      [totalRecords]="totalRegistros"
      [lazy]="true"
      [loading]="carregando"
      (onLazyLoad)="onPageChange($event)"
      [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable-sm custom-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width:10%">ID</th>
          <th pSortableColumn="nome" style="width:30%">NOME</th>
          <th pSortableColumn="email" style="width:30%">EMAIL</th>
          <th pSortableColumn="departamento" style="width:20%">DEPARTAMENTO</th>
          <th style="width:10%" class="text-center">GESTÃO</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-diretor>
        <tr>
          <td data-label="ID">
            <span class="id-tag">#{{ diretor.id }}</span>
          </td>

          <td data-label="Nome">
            <span class="director-name">{{ diretor.nome }}</span>
          </td>

          <td data-label="Email">{{ diretor.email }}</td>

          <td data-label="Departamento">{{ diretor.departamento }}</td>

          <td data-label="Gestao" class="text-center">
            <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>

            <button
              type="button"
              class="btn-dots"
              (click)="abrirMenu(menu, $event, diretor)"
            >
              <i class="pi pi-ellipsis-h"></i>
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center">
            Nenhum diretor encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
